{
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error"],
    "@typescript-eslint/no-namespace": "off"
  },
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["build/**"]
}
